#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 960px;
  margin: 30px auto;
  color: var(--primary-font);
}

.contact-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--primary-font);
  color: var(--black-font);
  width: 300px;
  border-radius: 10px;
}

.contact-item {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

#contact .icon {
  width: 70px;
  margin: 0 auto;
  margin-bottom: 10px;
}
