@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Source Code Pro", sans-serif;
  background-color: var(--bg-black);
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}
:root {
  --primary-font: #fff;
  --secondary-font: #5288f2;
  --black-font: #000;
  --bg-black: #000;
  --font-xs: 0.8rem;
  --font-sm: 1.2rem;
  --font-md: 2.5rem;
  --font-lg: 3.5rem;
  --font-xl: 4.5rem;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  outline: none;
  border: none;
}

.section-title {
  /* position: inline-block; */
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.5em;
  width: 100%;
  justify-content: center;
  text-transform: uppercase;
  font-size: var(--font-sm);
}

/* Navigation  */
header {
  display: flex;
  justify-content: space-between;

  background: var(--bg-black);
  color: var(--primary-font);
  z-index: 1;
}

.main-nav {
  width: 100%;
  padding: 20px 20px;
}
.main-nav span {
  color: var(--secondary-font);
}

header nav {
  display: flex;
}

nav ul {
  display: flex;
}

nav ul li a {
  display: flex;
  height: 40px;
  line-height: 43px;
  margin: 3px;
  padding: 0px 15px;
  font-size: var(--font-sm);
  text-transform: uppercase;
  font-weight: 600;
  color: var(--primary-font);
  letter-spacing: 1px;
  transition: 0.5s ease;
}

nav ul li a:hover {
  border-bottom: 1px solid var(--secondary-font);
  box-shadow: 5px 10px 25px rgba(82, 136, 242, 0.79);
}

.sidebar {
  background-image: linear-gradient(10deg, #1f1f1f 50%, #000 100%);
  position: absolute;
  transform: translateX(100%);
  top: 60px;
  right: 0;
  height: 100vh;
  width: 30%;
  max-width: 300px;
  /* background: #111112; */
  transition: transform 0.3s ease-out;
  z-index: 200;
}

.sidebar ul {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.sidebar-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  /* padding: 0.8em; */
  margin: 2em 1em;
}

.sidebar-item a {
  color: var(--secondary-font);
}

.sidebar-item a:hover {
  color: var(--primary-font);
  border-bottom: 1px solid var(--secondary-font);
}

.hamburger-toggle {
  /* display: block; */
  position: absolute;
  top: 1em;
  right: 0;
  /* transform: translateX(-100%); */
  background: var(--primary-font);
  padding: 0.5em 0.5em;
  border: 0;
  border-radius: 0.25em 0 0 0.25em;
  cursor: pointer;
}

.hamburger-menu {
  display: block;
  position: relative;
  margin: 15px auto;
  /* left: 0; */
}

.hamburger-menu,
.hamburger-menu::before,
.hamburger-menu::after {
  width: 2em;
  height: 3px;
  background: var(--black-font);
  transition: transform 0.1s ease-in-out;
  /* opacity: 200ms linear; */
}
.hamburger-menu::before,
.hamburger-menu::after {
  content: "";
  position: absolute;
  left: 0;
}

.hamburger-menu::before {
  bottom: 6px;
}

.hamburger-menu::after {
  top: 6px;
}

.hamburger-open .sidebar {
  transform: translateX(0);
}

.hamburger-open .hamburger-menu {
  transform: rotate(45deg);
}

.hamburger-open .hamburger-menu::before {
  opacity: 0;
}

.hamburger-open .hamburger-menu::after {
  transform: rotate(90deg) translate(-6px);
}
/* End of Navigation */

/*Hero Section*/
#hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  max-width: 960px;
  /* width: 100%; */
  background: var(--bg-black);
  color: var(--primary-font);
}

.hero-container {
  max-width: 600px;
}

#hero h1 {
  width: fit-content;
  align-items: flex-start;
  font-size: 1.5rem;
}

#hero h3 {
  font-size: 0.75rem;
}

.hero-container h3:nth-last-child(2) {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  color: var(--secondary-font);
  position: relative;
  text-transform: uppercase;
  animation: typing 2s steps(40, end);
}

.hero-btn {
  display: inline-block;
  padding: 8px 10px;
  color: var(--primary-font);
  background-color: transparent;
  border: 2px solid var(--secondary-font);
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 20px;
  transition: 0.3s ease;
  transition-property: background-color, color;
}

.hero-btn:hover {
  background-color: var(--secondary-font);
  color: var(--primary-font);
  border: 2px solid var(--primary-font);
}
/* End of Hero Section*/

/* .active {
  border-bottom: 1px solid var(--secondary-font);
  box-shadow: 5px 10px 25px rgba(82, 136, 242, 0.79);
} */

/* Keyframes*/
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* End of Keyframes*/

/* Media Queries for mobile */
@media screen and (max-width: 769px) {
  .menu {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .hamburger-toggle,
  .sidebar {
    display: none;
  }

  .section-title {
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 0.3rem;
  }
  /* Hero Section */
  #hero h1 {
    font-size: 2.5rem;
  }

  #hero h3 {
    font-size: 1.25rem;
  }

  .hero-btn {
    font-size: 1rem;
    padding: 10px 15px;
  }
  /* End of Hero Section */

  /* About Me  */
  #about-me {
    height: 100vh;
  }

  /* Work or Projects */
  #projects {
    height: 100vh;
  }
  #projects .project-item {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    text-align: justify;
    margin: 40px auto;
  }

  #projects .project-item h4 {
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 14px;
    width: 50%;
    margin: 10px 0px;
  }

  #projects .project-img {
    width: 25%;
  }

  #projects .project-item:nth-child(even) {
    flex-direction: row-reverse;
  }
  /* End of Project Section */

  /* Contacts Section */
  #contact {
    height: 100vh;
  }
  .contact-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin: 0;
  }

  #contact .contact-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 830px;
    height: 300px;
  }

  #contact .contact-item {
    display: flex;

    flex-direction: column;
    min-height: 200px;
    width: 33%;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* overflow-x: hidden; */
    margin: 0px 20px;
  }

  /* End of Contacts Section */
}

/* Media Queries for Desktop */
@media screen and (min-width: 1024px) {
  /* Footer Section */
  #footer {
    width: 100%;
  }

  #footer h2 {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
  }

  .footer-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
  /* End of Footer Section */
}
