@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Source Code Pro", sans-serif;
  background-color: var(--bg-black);
}

:root {
  --primary-font: #fff;
  --secondary-font: #5288f2;
  --black-font: #000;
  --bg-black: #000;
  --font-xm: 0.8rem;
  --font-sm: 1.2rem;
  --font-md: 2.5rem;
  --font-lg: 3.5rem;
  --font-xl: 4.5rem;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  outline: none;
  border: none;
}

.section-title {
  /* position: inline-block; */
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.5em;
  width: 100%;
  justify-content: center;
  text-transform: uppercase;
  font-size: var(--font-md);
}

/* Navigation  */
header {
  display: flex;
  justify-content: space-between;
  background: var(--bg-black);
  color: var(--primary-font);
  z-index: 1;
}

.main-nav {
  width: 100%;
  padding: 20px 20px;
}
.main-nav span {
  color: var(--secondary-font);
}

header nav {
  display: flex;
}

nav ul {
  display: flex;
}

nav ul li a {
  display: flex;
  height: 40px;
  line-height: 43px;
  margin: 3px;
  padding: 0px 15px;
  font-size: var(--font-sm);
  text-transform: uppercase;
  font-weight: 600;
  color: var(--primary-font);
  letter-spacing: 1px;
  transition: 0.5s ease;
}

nav ul li a:hover {
  border-bottom: 1px solid var(--secondary-font);
  box-shadow: 5px 10px 25px rgba(82, 136, 242, 0.79);
}

.sidebar {
  position: absolute;
  transform: translateX(100%);
  top: 60px;
  right: 0;
  height: 100vh;
  width: 30%;
  max-width: 300px;
  background: #111112;
  transition: transform 0.3s ease-out;
  z-index: 200;
}

.sidebar ul {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.sidebar-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.8em;
  margin: 2em 1em;
}

.sidebar-item a {
  color: var(--secondary-font);
}

.hamburger-toggle {
  display: block;
  position: absolute;
  top: 1em;
  right: 0;
  /* transform: translateX(100%); */
  background: var(--primary-font);
  padding: 0.5em 0.5em;
  border: 0;
  border-radius: 0.25em 0 0 0.25em;
  cursor: pointer;
}

.hamburger-menu {
  display: block;
  position: relative;
  margin: 15px auto;
  /* left: 0; */
}

.hamburger-menu,
.hamburger-menu::before,
.hamburger-menu::after {
  width: 2em;
  height: 3px;
  background: var(--black-font);
  transition: transform 0.1s ease-in-out;
  /* opacity: 200ms linear; */
}
.hamburger-menu::before,
.hamburger-menu::after {
  content: "";
  position: absolute;
  left: 0;
}

.hamburger-menu::before {
  bottom: 6px;
}

.hamburger-menu::after {
  top: 6px;
}

.hamburger-open .sidebar {
  transform: translateX(0);
}

.hamburger-open .hamburger-menu {
  transform: rotate(45deg);
}

.hamburger-open .hamburger-menu::before {
  opacity: 0;
}

.hamburger-open .hamburger-menu::after {
  transform: rotate(90deg) translate(-6px);
}
/* End of Navigation */

/*Hero Section*/
#hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 960px;
  /* width: 100%; */
  background: var(--bg-black);
  color: var(--primary-font);
}

#hero h1 {
  width: fit-content;
  align-items: flex-start;
  font-size: var(--font-lg);
}

.hero-container h3:nth-last-child(2) {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  color: var(--secondary-font);
  position: relative;
  text-transform: uppercase;
  animation: typing 2s steps(40, end);
}

.hero-container {
  max-width: 600px;
}

.hero-btn {
  display: inline-block;
  padding: 10px 30px;
  color: var(--primary-font);
  background-color: transparent;
  border: 2px solid var(--secondary-font);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  transition: 0.3s ease;
  transition-property: background-color, color;
}

.hero-btn:hover {
  background-color: var(--secondary-font);
  color: var(--primary-font);
  border: 2px solid var(--primary-font);
}
/* End of Hero Section*/

.active {
  border-bottom: 1px solid var(--secondary-font);
  box-shadow: 5px 10px 25px rgba(82, 136, 242, 0.79);
}

/* Keyframes*/
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* End of Keyframes*/

/* Media Queries */
@media screen and (min-width: 575px) {
  .hamburger-toggle,
  .sidebar {
    display: none;
  }
}
@media screen and (max-width: 575px) {
  .menu {
    display: none;
  }
}
@media screen and (max-width: 1400px) {
  .hero-container h1 {
    font-size: var(--font-md) !important;
  }
  .hero-container h3 {
    font-size: var(--font-sm) !important;
  }
}
/* End of Media Queries */
